node_modules/

.expo/
.expo-shared/

dist/
web-build/

.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

coverage/

.vscode/
.idea/

*.keystore
*.jks
*.p12
*.pem

android/
ios/course_frame_detection/training_data/

__pycache__/
*.pyc

runs/
efb-detector/ml/yolo_dataset_base/
efb-detector/ml/yolo_dataset_tiles/
efb-detector/grub-yolo-v1/
efb-detector/ml/grub_location
efb-detector/ml/nectar

*.pt
